<%= form_with(scope: :user_options, url: "/user_options/#{@user.id}", method: "patch") do |form| %>
  <% if user_options.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user_options.errors.count, "error") %> prohibited this user_option from being saved:</h2>

      <ul>
        <% user_options.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :auto_duration_word_rate, style: "display: block" %>
    <%= form.text_field :auto_duration_word_rate %>
  </div>

  <div>
    <%= form.label :auto_duration_constant, style: "display: block" %>
    <%= form.text_field :auto_duration_constant %>
  </div>

  <div>
    <%= form.label :avatar_mode, style: "display: block" %>
    <!-- %= form.number_field :avatar_mode % -->

    <%= form.collection_radio_buttons :avatar_mode,
    [[1, "Popup"], [2, "Theater"], [0, "None"]],
    :first, :last %>
  </div>

  <div>
    <%= form.label :always_speak_text, style: "display: block" %>
    <%= form.check_box :always_speak_text %>
  </div>

  <div>
    <%= form.label :default_voice, style: "display: block" %>
    <%= form.text_field :default_voice %>
  </div>

  <div>
    <%= form.label :pause_to_riff, style: "display: block" %>
    <%= form.check_box :pause_to_riff %>
  </div>

  <div>
    <%= form.label :play_after_riff, style: "display: block" %>
    <%= form.check_box :play_after_riff %>
  </div>

  <div>
    <%= form.label :immediate_save, style: "display: block" %>
    <%= form.check_box :immediate_save %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
