<div id="<%= dom_id user_options %>">
  <p>
    <strong>User:</strong>
    <%= user_options.user_id %>
  </p>

  <p>
    <strong>Auto duration word rate:</strong>
    <%= user_options.auto_duration_word_rate %>
  </p>

  <p>
    <strong>Auto duration constant:</strong>
    <%= user_options.auto_duration_constant %>
  </p>

  <p>
    <strong>Avatar mode:</strong>
    <%= user_options.avatar_mode %>
  </p>

  <p>
    <strong>Always speak text:</strong>
    <%= user_options.always_speak_text %>
  </p>

  <p>
    <strong>Default voice:</strong>
    <%= user_options.default_voice %>
  </p>

  <p>
    <strong>Pause to riff:</strong>
    <%= user_options.pause_to_riff %>
  </p>

  <p>
    <strong>Play after riff:</strong>
    <%= user_options.play_after_riff %>
  </p>

  <p>
    <strong>Immediate save:</strong>
    <%= user_options.immediate_save %>
  </p>

</div>
